@font-face 
{
	font-family: "Warhammer40k";
	src: url("caslona/CAS_ANTN.ttf");
}
body
{
	background-image: url("../image/background.jpg");
	background-color: black;
	margin-top: 150;
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	z-index:1;
}
table
{
	margin-left: auto;
	margin-right: auto;
}
td 
{
	height: 10px;
	width: 10px;
}
#menu
{
	opacity: 0.5;
	background-color: grey;
	text-align: center;
	border-radius: 20px;
	box-shadow: 10px 10px 10px #000;
	margin-left: auto;
	margin-right: auto;
	margin-top: 200px;
	width: 600px;
	height: 800px;
}
#title
{
	padding-top: 0.5px;
	font-weight: bold;
	font-size: 25;
	font-family: Warhammer40k;
}
td:hover
{
	background-color: green;
}
